h1,
body,
p {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/gateau.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    background-image: none;
}

.signup-container {
    background-color: rgb(248, 180, 173, 0.7);
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: 2rem ;
}

h1 {
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.input-pseudo,
.input-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFC9C5;
    box-sizing: border-box;
    background-color: #fff;
}

.checkbox-group {
    margin-bottom: 15px;
    color: #555;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 1rem;
}


a {
    color: #555;
    text-decoration: underline;
}

button {
    background-color: #555;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    align-self: center;
    padding: 10px;
    border: none;

    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #333;
}

small {
    color: #e00b0b;
    margin-top: 10px;
    font-size: 0.8em;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
/* .newsletter button{
    width: 6rem;
    border-radius: none;
} */
.newsletter button {
    margin: 0;
    width: 6rem;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1080px) {
    form {
        flex-direction: column;
    }

}

@media screen and (max-width:540px) {
    p {
        font-size: 12px;
    }
    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }

    a {
        font-size: 12px;
    }

    label {
        font-size: 12px;
    }

    .button {
        font-size: 8px;
        padding: 5rem;
        margin-top: 1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 60%;
        align-items: center;
    }

}